<mat-card class="example-card" *ngFor="let sh of show">
  <mat-card-header>
    <div mat-card-avatar *ngIf="sh.image" [style.background]="'url(' + sh.image + ')'" ></div>
    <mat-card-title>{{sh.name}}</mat-card-title>
    <mat-card-subtitle>Started: {{sh.premiered}} | status: {{sh.status}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p [innerHTML]="sh.summary">
    </p>
  </mat-card-content>
</mat-card>

<!--<app-episodes></app-episodes>-->
<mat-accordion>
  <mat-expansion-panel *ngFor="let s of season">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Season: {{s.number}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent><app-episodes [id]="s.id"></app-episodes></ng-template>

  </mat-expansion-panel>
</mat-accordion>




