<!--<header>
  <div class="container">
    <a routerLink="/" class="logo">TV Maze</a>
    <nav>
      <ul>
        <li>
          <form>
          <input type="search" name="srchShows" id="srchShows">
        </form>
        </li>
      </ul>
    </nav>
  </div>
</header>
-->

<mat-toolbar>
  <span>{{title}}</span>

  <!--

  <ul style="float: left">
    <li>
      <form name="frmsrch">
        <input type="search" name="query" id="srchShows">
      </form>
    </li>
  </ul>

  -->


</mat-toolbar>
