mat-toolbar {background-color: #3f3f3f;}


mat-toolbar{
  height: 100px;}

mat-icon{ background: none; border: none; color: white; }

button {
  background: none;
  border: none;
}
img {
  max-height: 50px;
}
