
<mat-toolbar>


  <span><img src="../../../images/tvm-header-logo.png"></span>
  <span style="margin: 0 auto"></span>


    <mat-form-field>
      <input matInput type="text" placeholder="Search Shows" [(ngModel)]="showName">
      <button mat-button *ngIf="showName" matSuffix mat-icon-button aria-label="Clear" (click)="showName=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  <button mat-button  routerLink="/shows/{{showName}}" >Search</button>



</mat-toolbar>
